/*stylesheet*/

/*colors
	dark navy: #05003A;
	navy: #1E0066;
	purple: #683C5B;
	red: #8E3039;
	pink: #D3837F;
	orange: #FF9A40;
	yellow: #F4D162;
	cream: #FFF7D7;
*/

:root {
	--base-font-size: 16px;
	--fluid-typography-ratio: 0.9;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	background: url('../images/sunset-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-weight: 600;
	font-size: 24pt;
	text-align: center;
	color: #FF9A40;
	margin: 1em;
	letter-spacing: 2px;
}

h2 {
	font-weight: 200;
	font-style: italic;
	font-size: 18pt;
	text-align: center;
	color: #FFF7D7;
	margin: 0 auto;
}

h3 {
	font-weight: 600;
	font-size: 12pt;
	color: #F4D162;
	text-align: center;
	letter-spacing: 2px;
	margin: 0 auto;
	padding: .5em;
}

h4 {
	font-weight: 400;
	font-size: 12pt;
	color: #FF9A40;
	text-align: center;
}

h5 {
	font-weight: 600;
	font-size: 24pt;
	color: #FF9A40;
	margin: 0;
	letter-spacing: 2px;
}

h6 {
	font-weight: 400;
	font-size: 12pt;
	color: #D3837F;
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #F4D162;
}

li.nav a {
	font-weight: 600;
	font-size: 12pt;
	text-align: center;
	color: #FF9A40;
}

p-pink {
	font-weight: 400;
	font-size: 14pt;
	color: #D3837F;
	line-height: 1.4;
}

p-orange {
	font-weight: 400;
	font-size: 14pt;
	color: #FF9A40;
}

p-yellow {
	font-weight: 400;
	font-size: 14pt;
	color: #F4D162;
	line-height: 1.4;
}

p-cream {
	font-weight: 400;
	font-size: 14pt;
	color: #FFF7D7;
}

.yellow {
	color: #F4D162;
}

.pink {
	color: #D3837F;
}

.cream {
	color: #FFF7D7;
}

.red {
	color: #8E3039;
}

#dreamers {
	margin: 0 auto;
	max-width: 200px;
}

#right {
	text-align: right;
}

#icon-c img {
	margin: 0 auto;
	display: block;
}

#icon48 img {
	margin: 0 auto;
	width: 48px;
	height: auto;
}

ul.locations {
  list-style-position: inside;
	list-style-image: url('../images/sunset-icon-36.png');
	width: 100%;
	columns: 2;
	padding: 0; 
	margin: 0;
}

li.locations a {
	font-weight: 400;
	font-size: 14pt;
	color: #FF9A40;
	text-decoration: none;
}


/* SPACERS */
.spacer-150 {
	padding: 150px;
}

.spacer-80 {
	padding: 80px;
}

.spacer-60 {
	padding-top: 60px;
}


.wrapper {
  position: relative;
	margin: 0 auto;
	max-width: 1400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(30, 0, 102, 0.6));
	top: 0;
}

.text-wrapper {
	margin: 0 auto;
	width: 450px;
}

.map-wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.locations-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.masthead-wrapper {
  position: fixed;
  z-index: 99999;
  width: 100%;
}

#masthead {
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
}

#masthead-inner {
	background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
}

#logo img {
	width: 80%;
	height: auto;
	display: block;
  padding: 2rem;
}

/* NAV */

.nav-wrapper {
  display: none;
  position: fixed;
  z-index: 99998;
  margin: 0 auto;
  width: 100%;
}

#nav {
  height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

#nav .nav-menu-holder {
}

#nav ul.nav-menu {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0; 
  margin: 0;
}

#nav ul.nav-menu li {
  color: #fff;
  position: relative;
  text-decoration: none;
  padding: 2rem;
}
  
#nav ul.nav-menu li a {
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
}

.menu {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu a.toggle-nav {
  font-size: 3rem;
  color: #FF9A40;
  display: none;
}

.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0; 
  margin: 0;
}

.desktop-menu a {
  flex-grow: 1;
  padding: 2rem 0;
  color: #FF9A40;
  text-decoration: none;
}

.desktop-menu a:hover, .desktop-menu a.active {
  text-decoration: none;
  color: #F4D162;
  font-weight: 600;
}

a#current {
  color: #8E3039;
  font-weight: 600;
}

/* MAP */

#map {
  overflow: hidden;
}

#map img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
}

#map-inner {
  position: relative;
}

#map-inner .target {
  position: absolute;
  z-index: 1;
  width: 3%;
  height: 7.5%;
  left: 9.5%;
  top: 71%;
  /*border: 5px solid red;*/
}

#map-inner .memorial {
  position: absolute;
  z-index: 1;
  width: 3%;
  height: 7.5%;
  left: 23.5%;
  top: 57%;
  /*border: 5px solid red;*/
}

#map-inner .app {
  position: absolute;
  z-index: 1;
  width: 3%;
  height: 7.5%;
  left: 27.5%;
  top: 86%;
  /*border: 5px solid red;*/
}

#map-inner .calvary {
  position: absolute;
  z-index: 1;
  width: 3%;
  height: 7.5%;
  left: 29.7%;
  top: 8.5%;
  /*border: 5px solid red;*/
}

#map-inner .rec-park {
  position: absolute;
  z-index: 1;
  width: 3%;
  height: 7.5%;
  left: 49.4%;
  top: 58%;
  /*border: 5px solid red;*/
}

#map-inner .spring-forest {
  position: absolute;
  z-index: 1;
  width: 3%;
  height: 7.5%;
  left: 54.4%;
  top: 37%;
  /*border: 5px solid red;*/
}

#map-inner .hawley {
  position: absolute;
  z-index: 1;
  width: 3%;
  height: 7.5%;
  left: 61.5%;
  top: 63%;
  /*border: 5px solid red;*/
}

#map-inner .castle {
  position: absolute;
  z-index: 1;
  width: 3%;
  height: 7.5%;
  left: 90.5%;
  top: 45.5%;
  /*border: 5px solid red;*/
}


/* SCROLL BAR */

	/* width */
::-webkit-scrollbar {
  width: 20px;
}

	/* Track */
::-webkit-scrollbar-track {
  background: #05003A;
}

	/* Handle */
::-webkit-scrollbar-thumb {
  background: url('../images/scroll-sun.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* MEDIA */

@media all and (max-width: 699px) { 

  #masthead {
    padding-bottom: 2em;
  }

  #logo img {
    padding: 1rem;
  }

  .menu {
    padding: 1rem;
  }

  .menu a {
    font-size: 2rem;
    color: #FF9A40;
  }

  .locations-wrapper {
    margin: 0 1rem;
  }

  ul.locations {
    columns: 1;
  }

}

@media all and (max-width: 960px) { 

  .menu a.toggle-nav {
    display: block;
  }

  .desktop-menu {
    display: none;
  }

}

/*
@media all and (min-width: 700px) {

	body {
		font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
	}
}

@media all and (min-width: 1800px) {

  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 18px);
  }

} */