/*stylesheet*/

/*colors
	dark navy: #05003A;
	navy: #1E0066;
	purple: #683C5B;
	red: #8E3039;
	pink: #D3837F;
	orange: #FF9A40;
	yellow: #F4D162;
	cream: #FFF7D7;
*/

:root {
	--base-font-size: 16px;
	--fluid-typography-ratio: 0.9;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	background: url('../images/sunset-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-weight: 600;
	font-size: 24pt;
	text-align: center;
	color: #FF9A40;
	margin: 1em;
	letter-spacing: 2px;
}

h2 {
	font-weight: 200;
	font-style: italic;
	font-size: 18pt;
	text-align: center;
	color: #FFF7D7;
	margin: 0 auto;
}

h3 {
	font-weight: 600;
	font-size: 18pt;
	color: #F4D162;
}

li a {
	font-weight: 600;
	font-size: 12pt;
	text-align: center;
	color: #FF9A40;
}

p-pink {
	font-weight: 400;
	font-size: 14pt;
	color: #D3837F;
}

p-orange {
	font-weight: 400;
	font-size: 14pt;
	color: #FF9A40;
}

p-yellow {
	font-weight: 400;
	font-size: 14pt;
	color: #F4D162;
}

p-cream {
	font-weight: 400;
	font-size: 14pt;
	color: #FFF7D7;
}

.yellow {
	color: #F4D162;
}

#dreamers {
	margin: 0 auto;
	max-width: 200px;
}

#icon img {
	margin: 0 auto;
	max-width: 36px;
}

#map img {
	width: 100%;
	height: auto;
}

/* SPACERS */
.spacer-250 {
	margin: 250px;
}

.spacer-100 {
	margin: 100px;
}

.spacer-60 {
	margin-top: 60px;
}


.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(30, 0, 102, 0.5));
	top: 0;
}

.text-wrapper {
	margin: 0 auto;
	max-width: 450px;
}

#masthead {
}

#nav {
	background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
	position: fixed;
	top: 0;
}

#logo {
	padding-top: 2em;
	padding-bottom: 1em;
}

#logo a {
  color: var(--body-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
	width: 80%;
	height: auto;
	display: block;
}

#nav .nav-menu-holder {
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center;
}

#nav ul.nav-menu {
  width: 100%;
  columns: 6;
  list-style: none;
  padding: 0; 
  margin: 0;
}

#nav ul.nav-menu li {
  color: #fff;
  position: relative;
  text-decoration: none;
}
  
#nav ul.nav-menu li a {
  text-decoration: none;
  position: relative;
  z-index: 0;
}

/* Tree */

#tree {
  overflow: hidden;
}

#tree img {
  width: 100%;
  height: auto;
  display: block;
}

#tree-inner {
  position: relative;
}

#tree-inner .bird-overlay {
  display: none;
  position: absolute;
  z-index: 1;
  width: 45%;
  right: 2rem;
  top: 2rem;
  border: 1px solid black;
  background: #fff;
}

.stuff {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid black;
}

#tree-inner .bird-overlay p:last-child {
  margin-bottom: 0;
}

#tree-inner .bird-overlay p:first-child {
  margin-top: 0;
}

#tree-inner .bird {
  position: absolute;
  z-index: 1;
  width: 6%;
  height: 7%;
  left: 16%;
  top: 27%;
  border: 5px solid red;
}

.close-icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  display:block;
  box-sizing:border-box;
  width:1rem;
  height:1rem;
  border-width:1px;
  border-style: solid;
  border-color:transparent;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%);
  background-color:white;
  transition: all 0.3s ease;
}


/* SCROLL BAR */

	/* width */
::-webkit-scrollbar {
  width: 20px;
}

	/* Track */
::-webkit-scrollbar-track {
  background: #05003A;
}

	/* Handle */
::-webkit-scrollbar-thumb {
  background: url('../images/scroll-sun.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* MEDIA */

@media all and (max-width: 699px) { 

  #masthead {
    padding-bottom: 2em;
  }

  #logo a {
    justify-content: center;
    margin: 1em 0;
  }

  #logo img {
    height: auto;
    width: 10em;
  }

  #nav ul.nav-menu {
    justify-content: space-around;
  }

  #nav ul.nav-menu li {
    text-align: left;
    text-align: center;
  }

  #nav ul.nav-menu li:last-child {
    margin-right: 0;
  }

  #nav ul.nav-menu li:first-child {
    margin-left: 0;
  }

}

@media all and (min-width: 700px) {

	body {
		font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);
	}
}

@media all and (min-width: 1800px) {

  body{
    font-size: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 18px);
  }

}